.createnft {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%);
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nfts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.box {
  position: relative;
  background: rgba(225, 225, 225, 0.227);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(225, 225, 225, 0.586);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  border-radius: 20px;
  z-index: 10;
  padding: 20px;
  backdrop-filter: blur(5px);
  display: grid;
  min-width: 20rem;
  min-height: 29rem;
}

.createnft-img {
  width: 20em;
}

.c {
  width: 22em;
}

.create-pt {
  color: rgb(117, 12, 12);
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  padding: 0.3em;
}

.input {
  border-radius: 8px;
  font-weight: 700;
  font-size: 0.69em;
}

.upload-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 25px;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(201,3,3,1) 100%); 
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.upload-img {
  width: 20rem;
  height: 29rem;
}

.list-nft-btn:disabled {
  background: whitesmoke;
}