.profile {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%);
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 90rem;
  min-height: 40rem;
  background: rgba(225, 225, 225, 0.227);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(225, 225, 225, 0.586);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  border-radius: 20px;
  z-index: 10;
  padding: 20px;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  justify-content: flex-start;
}

.profile-text {
  font-size: 50px;
  display: flex;
}

.profile-img {
  width: 8em;
}

.profile-nft {
  position: relative;
  min-height: 20rem;
  background: rgba(225, 225, 225, 0.227);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(225, 225, 225, 0.586);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  border-radius: 20px;
  z-index: 10;
  padding: 20px;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  justify-content: flex-start;
}

.profile-information {
  display: flex;
  justify-content: space-between;
}

.information {
  font-size: 1.7rem;
}

.profile-nft-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.pt {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(201,3,3,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}